<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2022 Solana Mobile Inc.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.solanamobile.seedvaultimpl">

    <permission-group
        android:name="com.solanamobile.seedvault.SEED_VAULT_PERMISSIONS"
        android:label="@string/permission_group_seed_vault"
        android:description="@string/permission_access_seed_vault" />
    <permission
        android:name="com.solanamobile.seedvault.ACCESS_SEED_VAULT"
        android:permissionGroup="com.solanamobile.seedvault.SEED_VAULT_PERMISSIONS"
        android:protectionLevel="dangerous"
        android:label="@string/permission_access_seed_vault" />
    <permission
        android:name="com.solanamobile.seedvault.SEED_VAULT_IMPL"
        android:permissionGroup="com.solanamobile.seedvault.SEED_VAULT_PERMISSIONS"
        android:protectionLevel="signature" /> <!-- This would be "signature|privileged" on a real implementation of Seed Vault -->

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission
        android:name="android.permission.VIBRATE" />

    <application
        android:name=".SeedVaultImplApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SeedVaultImpl">

        <activity
            android:name=".ui.seeds.SeedsActivity"
            android:exported="true"
            android:theme="@style/Theme.SeedVaultImpl.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.seeddetail.SeedDetailActivity"
            android:parentActivityName=".ui.seeds.SeedsActivity"
            android:exported="true"
            android:permission="com.solanamobile.seedvault.ACCESS_SEED_VAULT"
            android:theme="@style/Theme.SeedVaultImpl.NoActionBar">
            <intent-filter>
                <action android:name="com.solanamobile.seedvault.wallet.v1.ACTION_CREATE_SEED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.solanamobile.seedvault.wallet.v1.ACTION_IMPORT_SEED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.AuthorizeActivity"
            android:exported="true"
            android:permission="com.solanamobile.seedvault.ACCESS_SEED_VAULT"
            android:noHistory="true"
            android:finishOnCloseSystemDialogs="true"
            android:theme="@style/Theme.SeedVaultImpl.BottomSheetDialog">
            <intent-filter>
                <action android:name="com.solanamobile.seedvault.wallet.v1.ACTION_AUTHORIZE_SEED_ACCESS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.solanamobile.seedvault.wallet.v1.ACTION_SIGN_TRANSACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.solanamobile.seedvault.wallet.v1.ACTION_SIGN_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.solanamobile.seedvault.wallet.v1.ACTION_GET_PUBLIC_KEY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.solanamobile.seedvault.wallet.v1.walletprovider"
            android:name=".contentprovider.WalletContentProvider"
            android:exported="true"
            android:permission="com.solanamobile.seedvault.ACCESS_SEED_VAULT"
            android:syncable="false" />

    </application>

</manifest>